.home_contact_h1{
    font-variant: small-caps;
    color: darkblue;
    font-size: 1.5rem;
}
.home_contact_icons{
    display: flex;
    column-gap: 4px ;
    padding-left: 7px;
}
.home_contact_icons i{
    background-color:skyblue;
    padding:5px;
   width: 5vh;
    border-radius: 100px;
    text-align: center;
    color: darkblue;
    cursor: pointer;
}
.home_contact_icons i:hover{
    background-color: transparent;
    border: 1px solid darkblue;
}
.line {
    height: 4px;
    width: 150px;
    margin-left: -5px;
    background-color: rgb(210, 102, 30);
    border-radius: 5px;
  }
  .home_contact_quick{
      color: darkblue;
      
     
  }
.home_quick{
    width: 8vw;
    margin-left:0 ;
}
.quicklinks_list li{
    list-style: none;
}
.quicklinks_list li a {
    
    text-decoration: none;
    font-size: 0.8rem;
    color: darkblue;
    transition: .5s;
}
.quicklinks_list li a:hover{
color: darkcyan;
border-bottom: 1px solid darkblue;
}
.get_in_touch{
    color: darkblue;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
   
}
.home_get{
    width: 10vw;
    margin-left: 0;
}
.get_in_touch p{
    font-size: 0.8rem;
}
.home_contact{
    padding: 40px 100px;
    display: grid;
    grid-template-columns: 30% 10% 40%;
    gap: 10%;
    box-shadow: 0 5px 10px blue;
}
.home_touch p{
    font-size: 1rem;
}

