.analytics_page{
      
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(34,147,215,0.5),rgba(34,147,215,0.5)),url(../../images/Analytics.jpg);
    background-position:center;
    background-size: cover;
    color: white;
    text-shadow: 0 0 10px black;
    font-weight: 100;
    
}
.analytics_page h1{
    font-size: 2rem;
}
.analytics_parent {  

  padding:90px;
  text-align: justify;
 }
 .list_first,.list_second{
     padding:20px;
     margin-left: 50px;
 }
.analytics_second,.analytics_third{
    margin-top: 10px;
}
