.consulting_page{
      
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(34,147,215,0.5),rgba(34,147,215,0.5)),url(../../images/consulting.jpeg);
    background-position: center;
    background-size:cover;
    color: white;
    text-shadow: 0 0 10px black;
    font-weight: 100;
    
}
.consulting_page h1{
    font-size: 2rem;
}
.consulting{
    padding:90px;
    margin-left:190px;
    text-align: justify;
}

.consulting h1{
    margin-top:10px;
    margin-bottom:10px;
}
.consult_list{
    margin-left:50px;
}