.mobile_page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(6, 59, 92, 0.5),rgba(9, 113, 179, 0.5)),url(../../images/mobileapp.jpeg);
    background-position: bottom;
    background-size: cover;
    color: white;
    text-shadow: 0 0 10px black;
    font-weight: 100;    
}
.mobile_page h1{
    font-size: 2rem;
}

.mobile_parent {  
  height:70vh; 
  padding:90px;
 }

 .mobile_head{
    margin-top: 10px;
}
 .mobile_list{
     padding:20px;
     margin-left: 50px;
 }


 
