.nav_head{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
   
}
.home_logo{
    color: white;
    margin-left: 10px;
    font-size: 1.5rem;
}
.menu{
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
   


}
.menu li a{
    text-decoration: none;
    color:white;
    position: relative;
    transition: 0.5s;
    font-size: 0.9rem;
}

.service-list-home {
    display: none;
    position: absolute;
    top: 100%;
    right: 12px;
    width: 210px;
    list-style: none;
    background-color: rgb(65, 180, 225);
    padding: 10px;
    line-height: 1.5rem;
  }
  .service-list-home li {
    border-bottom: 1px solid cornsilk;
   
    
  }
  .service-list-home li a{
      font-size: 0.8rem;
      transition: 0.5s;
  }
  .service-list-home li:hover {
    color: darkblue;
  }
  
  li:hover .service-list-home {
    display: block;
    top: 40px;
  }
  .menu li a:hover {
color:darkblue
  }